<a href="https://colab.research.google.com/github/striw-ey/Diplomado_Ciencia_Datos/blob/main/Tareas/Tarea_3/Programaci%C3%B3n%20orientada%20a%20objetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Clase 1:

In [1]:
import pandas as pd
counties= pd.read_csv('counties.csv')

In [3]:
display(counties)

      codestate  codecounty                 county  population          area
0             1        1001          Auta#%&()uga      54,571       594.436
1             1        1003   Baldwin#%&()  ?         182,265     1,589.784
2             1        1005               Barbour      27,457       884.876
3             1        1007             Bi#%&()bb      22,915       622.582
4             1        1009         Blount  ?          57,322       644.776
...         ...         ...                    ...         ...           ...
3229         72       72151               Yabucoa      37,941        55.215
3230         72       72153                Ya_uco      42,043        68.192
3231         78       78010     ; St. Croix ?          50,601        83.346
3232         78       78020               St. John      4,170        19.690
3233         78       78030             St. Thomas     51,634        31.314

[3234 rows x 5 columns]